.chatroom {
  height: 80vh;
  background-color: #292a2d;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chatroomContainer {
  width: 40%;
  height: 80%;
  background-color: white;
  border-radius: 10px;
}

.chatroomHeader {
  height: 70px;
  background-color: rgb(72, 138, 199);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  padding-left: 15px;
  font-weight: bold;
}

.chatroomList {
  height: 100%;
  overflow: scroll;
}

.chatroomList::-webkit-scrollbar {
  display: none;
}
